In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns 
from sklearn.decomposition import PCA
from sklearn.metrics import confusion_matrix

In [2]:
df=pd.read_csv("banking.csv")

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [5]:
df['job'].unique()

array(['blue-collar', 'technician', 'management', 'services', 'retired',
       'admin.', 'housemaid', 'unemployed', 'entrepreneur',
       'self-employed', 'unknown', 'student'], dtype=object)

In [6]:
A={'blue-collar':1, 'technician':2, 'management':3, 'services':4, 'retired':5,'admin.':6, 'housemaid':7, 'unemployed':8, 'entrepreneur':9,'self-employed':10, 'unknown':11, 'student':12}
df['job']=df['job'].map(A)

In [7]:
df['marital'].unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [8]:
B={'married':1, 'single':2, 'divorced':3, 'unknown':4}
df['marital']=df['marital'].map(B)

In [9]:
df['education'].unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [10]:
C={'basic.4y':1, 'unknown':2, 'university.degree':3, 'high.school':4,'basic.9y':5, 'professional.course':6, 'basic.6y':7, 'illiterate':8}
df['education']=df['education'].map(C)

In [11]:
df['default'].unique()

array(['unknown', 'no', 'yes'], dtype=object)

In [12]:
d={'unknown':1, 'no':2, 'yes':3}
df['default']=df['default'].map(d)

In [13]:
df['housing'].unique()

array(['yes', 'no', 'unknown'], dtype=object)

In [14]:
e={'yes':1, 'no':2, 'unknown':3}
df['housing']=df['housing'].map(e)

In [15]:
df['loan'].unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [16]:
f={'no':1, 'yes':2, 'unknown':3}
df['loan']=df['loan'].map(f)

In [17]:
df['contact'].unique()

array(['cellular', 'telephone'], dtype=object)

In [18]:
g={'cellular':1,'telephone':2}
df['contact']=df['contact'].map(g)

In [19]:
df['month'].unique()

array(['aug', 'nov', 'jun', 'apr', 'jul', 'may', 'oct', 'mar', 'sep',
       'dec'], dtype=object)

In [20]:
h={'aug':1, 'nov':2, 'jun':3, 'apr':4, 'jul':5, 'may':6, 'oct':7, 'mar':8, 'sep':9,'dec':10}
df['month']=df['month'].map(h)

In [21]:
df['day_of_week'].unique()

array(['thu', 'fri', 'tue', 'mon', 'wed'], dtype=object)

In [22]:
x={'thu':1, 'fri':2, 'tue':3, 'mon':4, 'wed':5}
df['day_of_week']=df['day_of_week'].map(x)

In [23]:
df['poutcome'].unique()

array(['nonexistent', 'success', 'failure'], dtype=object)

In [24]:
y={'nonexistent':1, 'success':2, 'failure':3}
df['poutcome']=df['poutcome'].map(y)

In [25]:
df.count()

age               41188
job               41188
marital           41188
education         41188
default           41188
housing           41188
loan              41188
contact           41188
month             41188
day_of_week       41188
duration          41188
campaign          41188
pdays             41188
previous          41188
poutcome          41188
emp_var_rate      41188
cons_price_idx    41188
cons_conf_idx     41188
euribor3m         41188
nr_employed       41188
y                 41188
dtype: int64

In [26]:
X=df[['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp_var_rate','cons_price_idx','cons_conf_idx','euribor3m',"nr_employed"]]
y=df['y']

In [27]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [28]:
pca =PCA(n_components=7)
Xbest= pca.fit_transform(X)

In [29]:
trainx,testx,trainy,testy = train_test_split(Xbest,y,test_size=0.5,random_state=1001)

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier

In [31]:
trainx,testx,trainy,testy = train_test_split(Xbest,y,test_size=0.2,random_state=0)
model = LogisticRegression()
model.fit(trainx,trainy)
ypred= model.predict(testx)
print(model.score(testx,testy)*100)
print(confusion_matrix(testy,ypred))

91.12648701141055
[[7147  178]
 [ 553  360]]

C:\Users\Manan Awasthi\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)